*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #674bb1;
  color: #ffffff;
  background-image: url("../img/bg-desktop.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 80px 40px 80px;
}

@media screen and (max-width: 992px) {
  body {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("../img/bg-mobile.svg");
  }
}

header {
  padding-bottom: 100px;
}

header .logo {
  display: inline-block;
  width: 200px;
}

header .logo img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  header {
    padding-bottom: 70px;
  }
  header .logo {
    width: 120px;
  }
}

main {
  margin-bottom: 25px;
}

main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-content .col-left {
  max-width: 700px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .main-content .col-left img {
  width: 100%;
}

main .main-content .col-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 60px;
}

main .main-content .col-right .heading {
  font-size: 32px;
  font-weight: bold;
}

main .main-content .col-right .lead {
  margin-bottom: 30px;
  font-size: 18px;
}

main .main-content .col-right a.cta {
  display: inline-block;
  background-color: #ffffff;
  color: #674bb1;
  border-radius: 30px;
  padding: 20px 66px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(51, 51, 51, 0.5);
          box-shadow: 0 5px 10px 2px rgba(51, 51, 51, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .main-content .col-right a.cta:hover {
  background-color: #674bb1;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  main {
    min-height: 70vh;
  }
  main .col-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-bottom: 65px;
  }
  main .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-content .col-left {
    padding-bottom: 70px;
  }
  main .main-content .col-right {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .main-content .col-right .heading {
    font-size: 28px;
  }
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-content .social a {
  margin-right: 16px;
}

footer .footer-content .social a:last-child {
  margin-right: 0;
}

footer .footer-content .social a .fab {
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .footer-content .social a .fab:hover {
  background-color: #ffffff;
  border-color: #674bb1;
  color: #674bb1;
}

@media screen and (max-width: 768px) {
  footer .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */