body {
  background-color: $purple;
  color: #ffffff;

  background-image: url('../img/bg-desktop.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 65px 80px 40px 80px;

  @media screen and (max-width: 992px) {
    padding: 40px;
  }

  @media screen and (max-width: 768px) {
    background-image: url('../img/bg-mobile.svg');
  }
}

header {
  padding-bottom: 100px;

  .logo {
    display: inline-block;
    width: 200px;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 992px) {
    padding-bottom: 70px;

    .logo {
      width: 120px;
    }
  }
}

main {
  margin-bottom: 25px;

  .main-content {
    display: flex;

    .col-left {
      max-width: 700px;
      align-self: center;

      img {
        width: 100%;
      } 
    }
  
    .col-right {
      flex: 1;
      padding-left: 60px;
      
      .heading {
        font-size: 32px;
        font-weight: bold;
        // margin-bottom: 24px;
      }

      .lead {
        margin-bottom: 30px;
        font-size: 18px;
      }

      a.cta {
        display: inline-block;
        
        background-color: #ffffff;
        color: $purple;

        border-radius: 30px;
        padding: 20px 66px;

        box-shadow: 0 5px 10px 2px rgba(51, 51, 51, 0.5);
      }
    }
  }

  @media screen and (max-width: 992px) {
    min-height: 70vh;

    .col-left {
      flex: 1;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 65px;

    .main-content {
      flex-direction: column;

      .col-left {
        padding-bottom: 70px;
      }

      .col-right {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .heading {
          font-size: 28px;
        }
      }
    }
  }
}

footer {
  // padding-bottom: 25px;

  .footer-content {
    display: flex;
    justify-content: flex-end;
    // align-items: center;

    .social {
      .fab {
        margin-right: 16px; 
        font-size: 20px;

        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        

        border: 1px solid #ffffff;
        border-radius: 50%;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .footer-content {
      justify-content: center;
    }
  }
}
